body {
  margin: 5%;
  font-family: "Poppins", sans-serif;
  display: grid;
  justify-content: center;
}

.title {
  color: #16697a;
  text-align: center;
  margin-bottom: 1em;
}

.entry-textbox {
  background-color: #ddd;
  width: 20em;
  height: 10em;
  padding: 1em;
  margin-bottom: 0.5em;
  border: unset;
  border-radius: 25px;
}

.entry-textbox:focus {
  outline: none;
}

#entryForm .button {
  border: unset;
  border-radius: 25px;
  padding: 5px 16px;
  margin-left: 76%;
}

#entries {
  background-color: #16697a;
  border-radius: 5px;
  color: #ede7e3;
  font-family: cursive;
  max-width: 20em;
  margin-top: 1em;
  padding: 2em;
}

.entries-nav {
  padding-bottom: 1em;
}

.display-entry-button {
  margin: 0.2em;
}

.display-entry-button:hover {
  cursor: pointer;
}
